:root {
  --wrapper-padding: clamp(1rem, 0.5rem + 2vw, 5rem);

  --space-xs: clamp(0.125rem, 0.125rem + 0.25vw, 0.25rem);
  --space-s:  clamp(0.25rem, 0.25rem + 0.5vw, 0.5rem);
  --space-m:  clamp(0.5rem, 0.5rem + 0.75vw, 1rem);
  --space-l:  clamp(1rem, 0.5rem + 1vw, 1.5rem);
  --space-xl: clamp(2rem, 1rem + 2vw, 3rem);
  --space-xxl: clamp(4rem, 2rem + 4vw, 6rem);
}

/* Small phones (portrait) */
@media (max-width: 479px) { }
/* Phones (landscape & larger) */
@media (min-width: 480px) { }
/* Tablets */
@media (min-width: 768px) { }
/* Small desktops */
@media (min-width: 1024px) { }
/* Medium desktops / HD */
@media (min-width: 1280px) { }
/* Large desktops / 2K+ */
@media (min-width: 1536px) { }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

#root, #__next { isolation: isolate; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select { font: inherit; }
input, button, select { cursor: pointer; }
button:disabled { cursor: not-allowed; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word;  }
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  margin-bottom: clamp(0.125em, 0.125em + 0.5vw, 0.25em);
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
nav a:hover { text-decoration: none; }
a:hover { text-decoration: underline; }